name: ml_tools Testing

on:
  push:
  schedule:
    - cron: '0 7 * * 1-5'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 6

    steps:
    - uses: actions/checkout@v3

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: 3.11
        auto-activate-base: false

    - name: Configure conda-forge priority
      run: |
        conda config --prepend channels conda-forge
        conda config --set channel_priority strict

    - name: Create conda environment and install dependencies
      shell: bash -l {0}
      run: |
        conda create -n mltools python=3.11 --yes
        conda activate mltools
        conda install --yes \
          tensorflow keras numpy h5py scikit-learn scipy lightgbm matplotlib seaborn shap pylint pytest libarchive compilers mpi4py ray-default

    - name: Install ml_tools
      shell: bash -l {0}
      run: |
        eval "$(conda shell.bash hook)"
        conda activate mltools
        python -m pip install -e .

    - name: Test with pytest
      shell: bash -l {0}
      run: |
        eval "$(conda shell.bash hook)"
        conda activate mltools
        python -m pytest . --disable-warnings

    - name: Lint with pylint
      shell: bash -l {0}
      run: |
        eval "$(conda shell.bash hook)"
        conda activate mltools
        python -m pylint ./ml_tools
