name: ml_tools Testing

on:
  push:
  schedule:
    - cron: '0 7 * * 1-5'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 6

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: 3.11

    - name: Add conda to system path
      run: |
        echo $CONDA/bin >> $GITHUB_PATH

    - name: Configure conda-forge priority
      run: |
        conda config --prepend channels conda-forge
        conda config --set channel_priority strict

    - name: Create conda environment and install dependencies
      run: |
        conda create -n mltools python=3.11 --yes
        conda install -n mltools --yes \
          tensorflow keras numpy h5py scikit-learn scipy lightgbm matplotlib seaborn shap pylint pytest libarchive compilers mpi4py ray-default

    - name: Install ml_tools
      run: |
        conda run -n mltools python -m pip install -e .

    - name: Test with pytest
      run: |
        conda run -n mltools python -m pytest . --disable-warnings

    - name: Lint with pylint
      run: |
        conda run -n mltools python -m pylint ./ml_tools
